RCSPstopCutGenTimeThresholdInPricing = 5 # \tau^{\mathrm{soft}}
RCSPhardTimeThresholdInPricing = 30 # \tau^{\mathrm{hard}}
RCSPuseBidirectionalSearch = 2 # \phi^{\mathrm{bidir}}
RCSPmaxNGneighbourhoodSize = 8 # \eta^{\mathrm{max}}
RCSPrankOneCutsMaxNumRows = 7 # \theta^{\mathrm{rows}}
RCSPrankOneCutsMemoryType = 1 # \theta^{\mathrm{mem}}
RCSPmaxNumOfEnumeratedSolutions = 1000000 # \omega^{\mathrm{routes}}
StrongBranchingPhaseOneCandidatesNumber = 50  # \zeta_1^{\mathrm{num}}   
StrongBranchingPhaseOneTreeSizeEstimRatio = 0.1 # \zeta_1^{\mathrm{estim}} 
StrongBranchingPhaseTwoTreeSizeEstimRatio = 0.1 # \zeta_2^{\mathrm{estim}} 
#CutTailingOffThreshold = 0.015 # 0.015\delta^{\mathrm{gap}}
#MaxTimeForRestrictedMasterIpHeur = -1
#SafeDualBoundScaleFactor = 2
#RCSPallowRoutesWithSameVerticesSet=false
#GlobalTimeLimit = 36000
#treeSearchStrategy = 0
#optimalityGapTolerance = 1e-8
